
.header {
    background-color:rgb(68, 68, 193);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  .logo img {
    width: 100px;
  }
  
  .nav {
    display: flex;
  }
  
  .navList {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .navItem a {
    color: white;
    font-size: 18px;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
  }
  
  .navItem a:hover {
    color: yellow;
  }
  