
.hero {
    background-image: url('https://media.licdn.com/dms/image/v2/C5612AQGl9SA6b3YQEw/article-cover_image-shrink_720_1280/article-cover_image-shrink_720_1280/0/1626166101312?e=1735171200&v=beta&t=SMT5P1E3I3gf41fPPryyTqRbea-HOmx0iAEjWZrD6v0');
    background-size: cover;
    background-position: center;
    height: 500px;
    position: relative;
    color: white;
  }
  
  
  
  
  .content {
    position: relative;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .title {
    font-size:xx-large;
    font-weight: bold;
    color: blue;
    

  }
  
  .subtitle {
    font-size:medium;
    margin-top: 10px;
  }
  
  .cta {
    background-color: blue;
    color:whitesmoke;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .cta:hover {
    background-color: lightsalmon;
  }
  